.btn{
  background: transparent;
  border: none;
  cursor: pointer;
  &:focus{
    outline: none;
  }
}
.btn-wb{
  font-size: 14px;
  line-height: 42px;
  font-family: "Rubik-Medium";
  border: 1px solid $white;
  border-radius: 22px;
  padding: 0 50px;
  color: $white;
  text-transform: uppercase;
}
.link-btn{
  display: inline-block;
  &:focus{
    outline: none;
  }
}
.btn-search{
  background-image: url('images/icon-search.png');
  width: 13px;
  height: 14px;
}
.btn-violet{
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 12px;
  line-height: 38px;
  border-radius: 18px;
  background-color: $violet-65;
  padding: 0 20px;
  color: $white;
  box-shadow: 0 5px 6px rgba(44, 3, 88, 0.16);
  transition: .5s;
  &:hover{
    background-color: $blue-00;
    box-shadow: 0 6px 10px rgba(1, 102, 204, 0.1);
  }
}
.arr-r:after{
  content: '';
  display: inline-block;
  width: 17px;
  height: 14px;
  background-image: url('images/arrow-r.png');
  background-repeat: no-repeat;
  background-size: 17px 14px;
  margin-left: 7px;
  vertical-align: text-top;
}
.arr-r-v:after{
  content: '';
  display: inline-block;
  width: 17px;
  height: 14px;
  background-image: url('images/arrow-r-v.png');
  background-repeat: no-repeat;
  background-size: 17px 14px;
  margin-left: 7px;
  vertical-align: text-top;
}
.btn-b-violet{
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 12px;
  line-height: 34px;
  border-radius: 18px;
  background-color: $white;
  padding: 0 25px;
  color: $violet-65;
  transition: .5s;
  border: 2px solid $violet-65;
  &:hover{
    border-color: $blue-00;
    background-color: $blue-00;
    color: $white;
  }
}