.header {
  height: 60px;
  @media screen and (min-width: $w-tablet) {
    height: 100px;
  }
  @media screen and (min-width: $w-desktop) {
    height: 140px;
  }
  &__w{
    display: flex;
    justify-content: space-between;
    position: relative;
    @media screen and (min-width: $w-tablet) {
      padding: 25px;
    }
    @media screen and (min-width: $w-desktop) {
      padding: 25px 0 0;
      height: 140px;
      box-sizing: border-box;
    }
  }
  &_blue{
    background: $blue-00;
    color: $white
  }
  &_big{
    height: 668px;
    position: relative;
    .container{
      @media screen and (min-width: $w-desktop) {
        position: relative;
        height: 100%;
      }
    }
  }
  &__logo{
    display: block;
    width: 147px;
    height: 35px;
    @include bg-img(contain);
    background-image: url('images/logo_white.png');
    @media screen and (min-width: $w-tablet) {
      width: 193px;
      height: 45px;
      background-image: url('images/logo_white@2x.png');
    }
    @media screen and (min-width: $w-desktop) {

    }
  }
  &__bl1{
    padding-top: 22px;
  }
  &__bl2{
    display: flex;
    @media screen and (min-width: $w-desktop) {
      display: block;
    }
  }
  &__bl3{
    padding-top: 20px;
    @media screen and (min-width: $w-desktop) {
      display: none;
    }
  }
  &__bl5{
    @media screen and (min-width: $w-desktop) {
      margin-top: 10px;
      margin-bottom: 13px;
    }
  }
  &__bl4{
    display: none;
    @media screen and (min-width: $w-tablet) {
      display: flex;
      font-size: 13px;
      line-height: 22px;
      font-family: "Lato";
    }
    @media screen and (min-width: $w-desktop) {
      float: right;
    }
  }
  &__contacts-l{
    @media screen and (min-width: $w-tablet) {
      margin-right: 20px;
    }
    @media screen and (min-width: $w-desktop) {
      margin-right: 27px;
    }
    a{
      @media screen and (min-width: $w-tablet) {
        color: $white;
        text-decoration: none;
      }
    }
  }
  &__contacts-r{
    span{
      @media screen and (min-width: $w-tablet) {
        font-size: 10px;
        color: $blue-8f;
      }
    }
    a{
      @media screen and (min-width: $w-tablet) {
        color: $white;
        text-decoration: underline;
      }
    }
  }
  &__burger{
    @media screen and (min-width: $w-desktop) {
      display: none;
    }
  }
  &__nav{
    display: none;
    @media screen and (min-width: $w-desktop) {
      display: block;
    }
  }
  &__search{
    display: none;
    @media screen and (min-width: $w-desktop) {
      display: block;
    }
  }
  &__feedback{
    @media screen and (min-width: $w-desktop) {
      padding-left: 40px;
    }
  }
}
.header-cnt{
  @media screen and (min-width: $w-desktop) {
    max-width: 412px;
    padding-top: 39px;
  }
  &__ttl{
    font-family: 'Raleway-ExtraBold';
    color: $white;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 20px;
    span{
      color: $yellow-ff;
    }
    @media screen and (min-width: $w-tablet) {
      font-size: 32px;
      line-height: 36px;
      margin-bottom: 0;
    }
    @media screen and (min-width: $w-desktop) {
      font-size: 36px;
      line-height: 48px;
      margin-bottom: 26px;
    }
  }
  &__txt{
    font-family: 'Lato';
    color: $white;
    font-size: 15px;
    line-height: 19px;
    @media screen and (min-width: $w-tablet) {
      font-size: 16px;
      line-height: 28px;
    }
    @media screen and (min-width: $w-desktop) {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 40px;
    }
  }
}
.burger{
  width: 39px;
  height: 32px;
  display: block;
  @include bg-img(contain);
  background-image: url('images/menu_s.png');
  cursor: pointer;
  @media screen and (min-width: $w-tablet) {
    width: 43px;
    height: 35px;
    background-image: url('images/menu_m.png');
  }
}
.shape{
  @media screen and (min-width: $w-desktop) {
    display: block;
    width: 179px;
    height: 40px;
    background-image: url('images/Shape.png');
    background-size: 179px 40px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
  &:after{
    content: '';
    position: relative;
    width: 18px;
    height: 27px;
    background-image: url('images/mouse-scroll.png');
    background-size: 18px 27px;
    display: block;
    top: 17px;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
}
.shadow{
  display: block;
  width: 764px;
  height: 483px;
  background-image: url('images/map-grid.png');
  background-repeat: no-repeat;
  position: absolute;
  bottom: -26px;
  right: 57px;
  margin: 0 auto;
}
.obj{
  position: absolute;
  display: block;
}