.header {
  height: 105px;
  @media screen and (min-width: $w-tablet) {
    height: 164px;
  }
  @media screen and (min-width: $w-desktop) {
    height: 164px;
  }
  &__w{
    display: flex;
    justify-content: space-between;
    position: relative;
    @media screen and (min-width: $w-tablet) {
      padding: 25px;
    }
    @media screen and (min-width: $w-desktop) {
      padding: 25px 0 0;
      height: 140px;
      box-sizing: border-box;
    }
  }
  &_big{
    position: relative;
    height: 390px;
    @media screen and (min-width: 324px) {
      height: 370px;
    }
    @media screen and (min-width: $w-tablet) {
      height: 805px;
    }
    @media screen and (min-width: $w-desktop) {
      height: 668px;
    }
    .container{
      @media screen and (min-width: $w-desktop) {
        position: relative;
        height: 100%;
      }
    }
  }
  &__logo{
    display: block;
    width: 147px;
    height: 35px;
    @include bg-img(contain);
    @media screen and (min-width: $w-tablet) {
      width: 193px;
      height: 45px;
    }
  }
  &__bl1{
    padding-top: 22px;
  }
  &__bl2{
    display: flex;
    @media screen and (min-width: $w-desktop) {
      display: block;
    }
  }
  &__bl3{
    padding-top: 20px;
    @media screen and (min-width: $w-desktop) {
      display: none;
    }
  }
  &__bl5{
    @media screen and (min-width: $w-desktop) {
      margin-top: 10px;
      margin-bottom: 13px;
    }
  }
  &__bl4{
    display: none;
    @media screen and (min-width: $w-tablet) {
      display: flex;
      font-size: 13px;
      line-height: 22px;
      font-family: "Lato";
      margin-top: 20px;
    }
    @media screen and (min-width: $w-desktop) {
      float: right;
      margin-top: 0;
    }
  }
  &__contacts-l{
    @media screen and (min-width: $w-tablet) {
      margin-right: 20px;
    }
    @media screen and (min-width: $w-desktop) {
      margin-right: 27px;
    }
    a{
      @media screen and (min-width: $w-tablet) {
        color: $white;
        text-decoration: none;
      }
    }
  }
  &__contacts-r{
    span{
      @media screen and (min-width: $w-tablet) {
        font-size: 10px;
        color: $blue-8f;
      }
    }
    a{
      @media screen and (min-width: $w-tablet) {
        color: $white;
        text-decoration: underline;
      }
    }
  }
  &__burger{
    @media screen and (min-width: $w-desktop) {
      display: none;
    }
  }
  &__nav{
    padding-left: 64px;
    padding-right: 50px;
    margin-bottom: 5px;
    @media screen and (min-width: $w-desktop) {
      margin-bottom: 0;
      padding-left: 0;
      padding-right: 0;
      display: block;
    }
  }
  &__search{
    display: none;
    @media screen and (min-width: $w-desktop) {
      display: block;
    }
  }
  &__feedback{
    text-align: center;
    @media screen and (min-width: $w-desktop) {
      text-align: left;
      padding-left: 40px;
    }
  }
  &__search-form{
    display: block;
    padding-left: 25px;
    margin-bottom: 44px;
    margin-top: 29px;
    @media screen and (min-width: $w-desktop) {
      display: none;
    }
  }
}

.header_blue{
  background: $blue-00;
  color: $white;
  .header__logo{
    background-image: url('images/logo_white@2x.png');
    @media screen and (min-width: $w-tablet) {
      background-image: url('images/logo_white.png');
    }
  }
}
.header_white{
  background: $blue-00;
  color: $white;
  @media screen and (min-width: $w-tablet) {
    background-color: $white;
    color: $blue-00;
  }
  .header__logo{
    background-image: url('images/logo_white@2x.png');
    @media screen and (min-width: $w-tablet) {
      background-image: url('images/logo_blue.png');
    }
  }
  .header__contacts-l{
    a{
      @media screen and (min-width: $w-tablet) {
        color: $blue-00;
      }
    }
  }
  .header__contacts-r{
    a{
      @media screen and (min-width: $w-tablet) {
        color: $blue-00;
      }
    }
    span{
      @media screen and (min-width: $w-tablet) {
        color: $blue-00;
      }
    }
  }
}

.header-cnt{
  position: absolute;
  top: 92px;
  z-index: 2;
  @media screen and (min-width: $w-tablet) {
    top: auto;
    bottom: 47px;
    right: 0;
    left: 0;
    max-width: 630px;
    margin: 0 auto;
  }
  @media screen and (min-width: $w-desktop) {
    max-width: 412px;
    padding-top: 39px;
    position: relative;
    margin: 0;
    bottom: auto;
  }
  &__t{
    padding-left: 109px;
    margin-bottom: 26px;
    @media screen and (min-width: $w-tablet) {
      display: flex;
      margin-bottom: 5px;
      padding-left: 0;
    }
    @media screen and (min-width: $w-desktop) {
      display: block;
      margin-bottom: 0;
    }
  }
  &__ttl{
    font-family: 'Raleway-ExtraBold';
    color: $white;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 16px;
    @media screen and (min-width: $w-tablet) {
      font-size: 32px;
      line-height: 36px;
      margin-bottom: 0;
      max-width: 324px;
      flex: 0 0 auto;
      margin-right: 44px;
    }
    @media screen and (min-width: $w-desktop) {
      font-size: 36px;
      line-height: 48px;
      margin-bottom: 26px;
      margin-right: 0;
      max-width: 100%;
    }
    span{
      color: $yellow-ff;
    }
  }
  &__txt{
    font-family: 'Lato';
    color: $white;
    font-size: 15px;
    line-height: 19px;
    @media screen and (min-width: $w-tablet) {
      font-size: 16px;
      line-height: 28px;
      margin-top: 7px;
    }
    @media screen and (min-width: $w-desktop) {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 45px;
      margin-top: 0;
    }
  }
  &__button{
    text-align: center;
    @media screen and (min-width: $w-tablet) {
      text-align: right;
      margin-right: 40px;
    }
    @media screen and (min-width: $w-desktop) {
      text-align: left;
      margin-right: 0;
    }
  }
}
.burger{
  width: 39px;
  height: 32px;
  display: block;
  @include bg-img(contain);
  background-image: url('images/menu_s.png');
  cursor: pointer;
  @media screen and (min-width: $w-tablet) {
    width: 43px;
    height: 35px;
    background-image: url('images/menu_m.png');
  }
}
.shape{
  @media screen and (min-width: $w-desktop) {
    display: block;
    width: 179px;
    height: 40px;
    background-image: url('images/Shape.png');
    background-size: 179px 40px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
  &:after{
    @media screen and (min-width: $w-desktop) {
      content: '';
      position: relative;
      width: 18px;
      height: 27px;
      background-image: url('images/mouse-scroll.png');
      background-size: 18px 27px;
      display: block;
      top: 17px;
      right: 0;
      left: 0;
      margin: 0 auto;
    }
  }
}
.shadow{
  display: block;
  background-image: url('images/map_sm.png');
  background-repeat: no-repeat;
  position: absolute;
  width: 175px;
  height: 188px;
  background-size: contain;
  background-position: center;
  bottom: 100px;
  left: 0;
  @media screen and (min-width: $w-tablet) {
    background-image: url('images/map-grid.png');
    width: 764px;
    height: 483px;
    bottom: 135px;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
  @media screen and (min-width: $w-desktop) {
    bottom: -26px;
    right: 57px;
    left: auto;
  }
}
.pin{
  position: absolute;
  background-image: url('images/pin.png');
  width: 85px;
  height: 71px;
  right: 33px;
  bottom: -8px;
  &.disabled{
    background-position-y: -71px;
  }
}
.obj{
  display: none;
  @media screen and (min-width: $w-tablet) {
    position: absolute;
    display: block;
    background-position: 0 0;
  }
  &__label{
    background-color: $violet-65;
    color: $white;
    font-family: "Rubik-Medium";
    font-size: 16px;
    line-height: 30px;
    padding: 0 20px;
    position: absolute;
    top:0;
    left:0;
    text-transform: uppercase;
    display: none;
  }
}
.obj1{
  background-image:url('images/table.png');
  top: -54px;
  left: 397px;
  width: 155px;
  height: 162px;
  &.active{
    background-position-y: -162px;
  }
}
.obj2{
  background-image:url('images/pract.png');
  top: -16px;
  left: 584px;
  width: 165px;
  height: 233px;
  &.active{
    background-position-y: -233px;
  }
}
.obj3{
  background-image:url('images/build.png');
  height: 226px;
  top: -52px;
  left: 175px;
  width: 198px;
  height: 226px;
  &.active{
    background-position-y: -226px;
  }
}
.obj4{
  background-image:url('images/globe.png');
  top: 96px;
  left: 323px;
  width: 218px;
  height: 181px;
  &.active{
    background-position-y: -181px;
  }
}
.obj5{
  background-image:url('images/about.png');
  top: 118px;
  left: 500px;
  width: 196px;
  height: 248px;
  &.active{
    background-position-y: -248px;
  }
}
.obj6{
  background-image:url('images/wheel.png');
  top: 97px;
  left: 85px;
  width: 193px;
  height: 197px;
  &.active{
    background-position-y: -197px;
  }
}
.obj7{
  background-image:url('images/tower.png');
  top: 87px;
  left: 245px;
  width: 204px;
  height: 307px;
  &.active{
    background-position-y: -307px;
  }
}
.menu-search{
  display: flex;
  &__input{
    font-family: 'Rubik';
    font-size: 14px;
    line-height: 30px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #18f;
    width: 197px;
    padding: 0 8px;
    box-sizing: border-box;
    &::placeholder{
      color: #18f;
      opacity: 0.5;
    }
  }
  &__submit{
    background-color: transparent;
    border: none;
    background-image: url('images/search-menu.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}