//colors
$black: #000;
$white: #fff;

$blue-00: #0080ff;
$blue-8f: #8feaf1;
$blue-20: #2090ff;

$violet-65: #653698;
$violet-95: #958e9e;
$violet-f5: #f5f3f7;
$violet-d3: #d3dce3;
$violet-60: #6067b5;
$violet-82: #825cab;

$gray-dd: #ddd;

$yellow-ff: #ffc103;

//size
$w-desktop: 1280px;
$w-tablet: 768px;
$w-mobile: 425px;