//colors
$black: #000;
$white: #fff;

$blue-00: #0080ff;
$blue-8f: #8feaf1;
$blue-20: #2090ff;
$blue-a6: #a6d2fd;

$violet-65: #653698;
$violet-95: #958e9e;
$violet-f5: #f5f3f7;
$violet-d3: #d3dce3;
$violet-60: #6067b5;
$violet-82: #825cab;
$violet-fb: #fbf9fd;
$violet-c2: #c2b4d4;
$violet-fb: #fbf9fd;

$gray-dd: #ddd;
$gray-e1: #e1e1e1;
$gray-fa: #fafafa;
$gray-cd: #cdcdcd;
$gray-79: #797979;
$gray-fd: #fdfaff;
$gray-f6: #f6f6f6;
$gray-ed: #edf2f6;
$gray-53: #53545b;

$yellow-ff: #ffc103;

//size
$w-desktop: 1280px;
$w-tablet: 768px;
$w-mobile: 425px;