//colors
$black: #000;
$white: #fff;

$blue-00: #0080ff;
$blue-8f: #8feaf1;

$violet-65: #653698;
$violet-95: #958e9e;
$violet-f5: #f5f3f7;
$violet-d3: #d3dce3;

$gray-dd: #ddd;

//size
$w-desktop: 1280px;
$w-tablet: 768px;
$w-mobile: 425px;