.breadcrumbs{
  font-family: 'Rubik-Medium';
  font-size: 15px;
  line-height: 23px;
  color: $violet-82;
  margin-top: 22px;
  padding-top: 4px;
  background-color: $white;
  @media screen and (min-width: $w-tablet) {
    padding: 0 68px;
    margin-top: 0;
    line-height: 15px;
  }
  @media screen and (min-width: $w-desktop) {
    margin-top: -23px;
    padding: 0;
  }
  &__items{
    opacity: .5;
    @media screen and (min-width: $w-desktop) {
      margin-left: 370px;
      max-width: 600px;
    }
  }
  &__link{
    color: $violet-82;
    &_home{
      @include bg-img(contain);
      background-image: url('images/home.png');
      width: 11px;
      height: 11px;
      display: inline-block;
    }
  }
  span{
    padding: 0 10px;
  }
  &_blue{
    background-color: $blue-00;
    color: $white;
    .breadcrumbs__link{
      color: $white;
      &_home{
        background-image: url('images/home-w.png');
      }
    }
  }
}