.header-menu{
  display: flex;
  &__items{
    margin-right: 35px;
  }
  &__links{
    color: $white;
    font-family: "Rubik-Medium";
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    &_active{

    }
  }
}
.menu{
  display: none;
  @media screen and (min-width: $w-desktop) {
    display: flex;
    align-items: center;
  }
}