script(src="https://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU")
script.
    ymaps.ready(init);
    function init () {
        var map = new ymaps.Map("map", {
            center: [59.9738695641074,30.333690499999946],
            zoom: 17
        });
        var placemark = new ymaps.Placemark([59.9738695641074,30.333690499999946], {
            balloonContent: 'Санкт-Петербург, ул. Гельсингфорсская, д. 2, лит. А',
        }, {
            iconImageHref: 'images/pin_.png',
            iconImageSize: [85, 71],
            iconImageOffset: [-25,-65]
        });
        map.geoObjects.add(placemark);
    }