- var nav = [{url: '/', name: 'ГИС'}, {url: '#', name: 'Best practices'}, {url: '#', name: 'Карты'}, {url: '#', name: '3D'}, {url: '#', name: 'Новости'}, {url: '#', name: 'О нас'}, {url: '#', name: 'Блог'}];

mixin navItem(url, name, current)
    li.header-menu__items
        a.header-menu__links(class=name==current ? 'header-menu__links_active' : '', href=url, title=name)= name