- var nav = [{url: 'gis.html', name: 'ГИС'}, {url: '#', name: 'Best practices'}, {url: 'maps.html', name: 'Карты'}, {url: '3d.html', name: '3D'}, {url: 'news.html', name: 'Новости'}, {url: 'about.html', name: 'О нас'}, {url: 'blog.html', name: 'Блог'}];

mixin navItem(url, name, current)
    li.header-menu__items
        a.header-menu__links(class=name==current ? 'header-menu__links_active' : '', href=url, title=name)= name