.pagination
    .pagination__list
        span.pagination__item.active 1
        a.pagination__item(href="#") 2
        a.pagination__item(href="#") 3
        a.pagination__item(href="#") 4
        .pagination__btw ...
        a.pagination__item(href="#") 16
//en .pagination