footer.footer
    .container
        .footer__w
            .footer__bl1
                .footer__bl3
                    a.footer__logo(href="/")
                    .footer__contacts
                        .footer__contacts1
                            .footer__contacts-tel
                                a(href="tel: 88124244802") 8 (812) 424-48-02<br>
                                a(href="tel: 88005502999") 8 (800) 550-29-99<br>
                            .footer__contacts-email
                                a(href="mailto: gis@smatrms.org") gis@smatrms.org

                        .footer__contacts2.
                            Санкт-Петербург,<br>
                            ул. Гельсингфорсская,<br>
                            д. 2, лит. А


                .footer__bl4
                    nav.footer__menu1
                        .footer__ttl Направления
                        ul.footer__menu
                            li
                                a(href="#") Геопортальные решения
                            li
                                a(href="#") Best practices
                            li
                                a(href="#") Картография
                            li
                                a(href="#") 3D
                    nav.footer__menu2
                        .footer__ttl Компания
                        ul.footer__menu
                            li
                                a(href="#") Новости
                            li
                                a(href="#") О нас
                            li
                                a(href="#") Контакты
                            li
                                a(href="#") Партнеры
                        ul.footer__menu
                            li
                                a(href="#") Награды и сертификаты
                            li
                                a(href="#") Люди
                            li
                                a(href="#") Блог

            .footer__bl2
                .footer__ttl Следуйте за нами
                .footer__ss
                    a.footer__ss-link.vk(href="#")
                    a.footer__ss-link.fb(href="#")
                    a.footer__ss-link.inst(href="#")
                a.f5(href="http://f5-studio.ru" alt="F5 studio" title="F5 studio")