header.header.header_blue.header_big
    .shape
    .container
        .shadow
            a.obj(href="#" style="background-image:url('images/tower.png'); top: 87px; left: 245px; width: 204px; height: 307px; background-size: 204px 307px;")
            a.obj(href="#" style="background-image:url('images/wheel.png'); top: 97px; left: 85px; width: 193px; height: 197px; background-size: 193px 197px;")
        .header__w
            .header__bl1
                a.header__logo(href="/")
            .header__bl2
                .header__bl5
                    .menu
                        .header__nav
                            nav
                                include ../blocks/_header-menu
                        .header__search
                            button.btn.btn-search
                        .header__feedback
                            button.btn.btn-wb Оставить заявку
                .header__bl4
                    .header__contacts-l
                        a(href="tel: 88124244802") 8 (812) 424-48-02<br>
                        a(href="tel: 88005502999") 8 (800) 550-29-99
                    .header__contacts-r
                        a(href="mailto: gis@smatrms.org") gis@smatrms.org<br>
                        span 59° 58’ 25’’N 30° 20’ 01’’E
            .header__bl3
                .header__burger
                    .burger
        .header-cnt
            .header-cnt__ttl.
                Искали <span>лучших</span><br>
                <span>ГИС специалистов</span>?<br>
                Вы их нашли!
            .header-cnt__txt.
                Создаем геоинформационные системы любого уровня сложности для различных отраслей.
            .header-cnt__button
                a.btn.link-btn.btn-white.arr-r-b(href="#") Подробнее о нас
