header.header.header_blue.header_big
    .shape
    .container
        .shadow
            a.obj.obj1(href="#")
                img(src="images/table_.png" alt="" usemap="#obj1" class="obj__link")
                img(src="images/table_active.png" alt="" usemap="#obj1" class="obj__link_active")
                map(name="obj1" id="obj1" class="js-obj")
                    area(href="#" shape="poly" coords="74,161,5,122,2,64,31,31,75,2,86,2,107,25,129,26,139,52,154,66,154,122")
                .pin
                .pin.disabled
                .obj__label Геопортальные решения
            a.obj.obj2(href="#")
                img(src="images/pract_.png" alt="" usemap="#obj2" class="obj__link")
                img(src="images/pract_active.png" alt="" usemap="#obj2" class="obj__link_active")
                map(name="obj2" id="obj2" class="js-obj")
                    area(href="#" shape="poly" coords="77,246,75,245,58,234,34,223,21,212,5,203,2,199,1,188,13,183,19,180,19,86,21,30,66,0,124,34,125,95,141,84,163,103,167,219,128,243")
                .pin
                .pin.disabled
                .obj__label Название 1
            a.obj.obj3(href="#")
                img(src="images/build_.png" alt="" usemap="#obj3" class="obj__link")
                img(src="images/build_active.png" alt="" usemap="#obj3" class="obj__link_active")
                map(name="obj3" id="obj3" class="js-obj")
                    area(href="#" shape="poly" coords="50,224,18,204,30,183,32,38,3,21,2,0,34,3,65,15,108,43,138,51,161,58,188,64,190,168,198,188,182,210,144,225")
                .pin
                .pin.disabled
                .obj__label Название 1
            a.obj.obj4(href="#")
                img(src="images/globe_.png" alt="" usemap="#obj4" class="obj__link")
                img(src="images/globe_active.png" alt="" usemap="#obj4" class="obj__link_active")
                map(name="obj4" id="obj4" class="js-obj")
                    area(href="#" shape="poly" coords="70,178,3,137,3,112,59,81,51,39,67,13,92,1,145,0,171,22,180,56,175,85,198,104,218,119,218,139,197,161,163,180")
                .pin
                .pin.disabled
                .obj__label Название 1
            a.obj.obj5(href="#")
                img(src="images/about_.png" alt="" usemap="#obj5" class="obj__link")
                img(src="images/about_active.png" alt="" usemap="#obj5" class="obj__link_active")
                map(name="obj5" id="obj5" class="js-obj")
                    area(href="about.html" shape="poly" coords="77,246,75,245,58,234,34,223,21,212,5,203,2,199,1,188,13,183,19,180,19,86,21,30,66,0,124,34,125,95,141,84,163,103,167,219,128,243")
                .pin
                .pin.disabled
                .obj__label Название 1
            a.obj.obj6(href="#")
                img(src="images/wheel_.png" alt="" usemap="#obj6" class="obj__link")
                img(src="images/wheel_active.png" alt="" usemap="#obj6" class="obj__link_active")
                map(name="obj6" id="obj6" class="js-obj")
                    area(href="#" shape="poly" coords="47,195,4,170,2,155,2,128,7,105,33,119,59,110,71,95,65,62,63,28,75,4,94,1,115,2,142,4,156,9,174,26,186,46,192,67,192,91,191,130,192,153,191,183,174,195")
                .pin
                .pin.disabled
                .obj__label Название 1
            a.obj.obj7(href="#")
                img(src="images/tower_.png" alt="" usemap="#obj7" class="obj__link")
                img(src="images/tower_active.png" alt="" usemap="#obj7" class="obj__link_active")
                map(name="obj7" id="obj7" class="js-obj")
                    area(href="#" shape="poly" coords="65,305,3,273,2,251,14,228,65,199,85,122,94,50,100,0,109,3,118,61,128,147,138,189,153,222,163,209,200,236,204,247,204,274,186,293,149,305")
                .pin
                .pin.disabled
                .obj__label Название 1
        .header__w
            .header__bl1
                a.header__logo(href="/")
            .header__bl2
                .header__bl5
                    .menu.js-menu
                        .menu__close.js-close
                        .header__search-form
                            form.menu-search
                                input.menu-search__input(type="text" placeholder="ПОИСК ПО САЙТУ")
                                input.menu-search__submit(type="submit" value="")
                        .header__nav
                            nav
                                include ../blocks/_header-menu
                        .header__search
                            button.btn.btn-search
                        .header__feedback
                            button.btn.btn-wb(data-fancybox data-src="#connect-us" href="javascript:;") Оставить заявку
                .header__bl4
                    .header__contacts-l
                        a(href="tel: 88124244802") 8 (812) 424-48-02<br>
                        a(href="tel: 88005502999") 8 (800) 550-29-99
                    .header__contacts-r
                        a(href="mailto: gis@smatrms.org") gis@smatrms.org<br>
                        span 59° 58’ 25’’N 30° 20’ 01’’E
            .header__bl3
                .header__burger
                    .burger.js-burger
        .header-cnt
            .header-cnt__t
                .header-cnt__ttl.
                    Искали <span>лучших</span><br>
                    <span>ГИС специалистов</span>?<br>
                    Вы их нашли!
                .header-cnt__txt.
                    Создаем геоинформационные системы любого уровня сложности для различных отраслей.
            .header-cnt__button
                a.btn.link-btn.btn-white.arr-r-b(href="#") Подробнее о нас
    //end .container
    include ../blocks/_connect-us