header.header.header_blue.header_big
    .shape
    .container
        .shadow
            .objects
                .obj.obj1
                    img(src="images/table_.png" class="obj__link")
                    img(src="images/table_active.png" class="obj__link_active")
                    .pin
                    .pin.disabled
                    .obj__label Геопортальные решения
                .obj.obj2
                    img(src="images/pract_.png" class="obj__link")
                    img(src="images/pract_active.png" class="obj__link_active")
                    .pin
                    .pin.disabled
                    .obj__label Название 1
                .obj.obj3
                    img(src="images/build_.png" class="obj__link")
                    img(src="images/build_active.png" class="obj__link_active")
                    .pin
                    .pin.disabled
                    .obj__label Название 1
                .obj.obj4
                    img(src="images/globe_.png" class="obj__link")
                    img(src="images/globe_active.png" class="obj__link_active")
                    .pin
                    .pin.disabled
                    .obj__label Название 1
                .obj.obj5
                    img(src="images/about_.png" class="obj__link")
                    img(src="images/about_active.png" class="obj__link_active")
                    .pin
                    .pin.disabled
                    .obj__label Название 1
                .obj.obj6
                    img(src="images/wheel_.png" class="obj__link")
                    img(src="images/wheel_active.png" class="obj__link_active")
                    .pin
                    .pin.disabled
                    .obj__label Название 1
                .obj.obj7
                    img(src="images/tower_.png" alt="" class="obj__link")
                    img(src="images/tower_active.png" alt="" class="obj__link_active")
                    .pin
                    .pin.disabled
                    .obj__label Название 1
            .helper.
                <img src="images/helper.png" alt="" usemap="#Map" />
                <map name="Map" id="Map">
                    <area href="/gis/" class="js-obj" data-class="obj1" shape="poly" coords="387,154,328,124,331,76,351,59,368,38,384,27,411,3,444,30,455,34,466,42,476,57,493,69,495,119,416,165" />
                    <area href="/about/" class="js-obj" data-class="obj2" shape="poly" coords="520,179,521,66,566,40,591,56,618,40,650,58,648,133,663,144,665,218,617,257,599,273,578,265,565,258,555,205" />
                    <area href="#" class="js-obj" data-class="obj3" shape="poly" coords="216,242,207,216,192,192,171,172,151,160,140,155,148,123,148,42,111,21,116,5,131,3,146,16,166,14,181,32,203,45,239,67,250,61,273,76,284,69,297,79,298,190" />
                    <area href="#" class="js-obj" data-class="obj4" shape="poly" coords="383,349,318,298,318,261,325,248,313,215,318,180,344,160,371,152,389,157,407,166,424,179,434,208,425,249,428,281" />
                    <area href="#" class="js-obj" data-class="obj5" shape="poly" coords="546,442,434,375,452,353,449,262,450,223,454,204,506,177,553,205,565,262,605,280,607,396" />
                    <area href="#" class="js-obj" data-class="obj6" shape="poly" coords="118,364,116,365,88,311,84,284,105,265,93,237,86,196,101,168,125,154,149,163,169,174,184,188,197,204,206,223,215,249,216,275,216,302,226,322,181,357" />
                    <area href="#" class="js-obj" data-class="obj7" shape="poly" coords="291,464,213,417,247,372,263,313,272,248,277,209,295,197,301,218,309,295,314,315,314,338,357,411" />
                </map>
        .header__w
            .header__bl1
                a.header__logo(href="/")
            .header__bl2
                .header__bl5
                    .menu.js-menu
                        .menu__close.js-close
                        .header__search-form
                            form.menu-search
                                input.menu-search__input(type="text" placeholder="ПОИСК ПО САЙТУ")
                                input.menu-search__submit(type="submit" value="")
                        .header__nav
                            nav
                                include ../blocks/_header-menu
                        .header__search
                            button.btn.btn-search
                        .header__feedback
                            button.btn.btn-wb(data-fancybox data-src="#connect-us" href="javascript:;") Оставить заявку
                .header__bl4
                    .header__contacts-l
                        a(href="tel: 88124244802") 8 (812) 424-48-02<br>
                        a(href="tel: 88005502999") 8 (800) 550-29-99
                    .header__contacts-r
                        a(href="mailto: gis@smatrms.org") gis@smatrms.org<br>
                        span 59° 58’ 25’’N 30° 20’ 01’’E
            .header__bl3
                .header__burger
                    .burger.js-burger
        .header-cnt
            .header-cnt__t
                .header-cnt__ttl.
                    Искали <span>лучших</span><br>
                    <span>ГИС специалистов</span>?<br>
                    Вы их нашли!
                .header-cnt__txt.
                    Создаем геоинформационные системы любого уровня сложности для различных отраслей.
            .header-cnt__button
                a.btn.link-btn.btn-white.arr-r-b(href="#") Подробнее о нас
    //end .container
    include ../blocks/_connect-us