header.header.header_blue.header_big
    .shape
    .container
        .shadow
            .obj.obj1(href="#")
                img(src="images/table_.png" alt="" usemap="#obj1" class="obj__link")
                img(src="images/table_active.png" alt="" usemap="#obj1" class="obj__link_active")
                map(name="obj1" id="obj1" class="js-obj")
                    area(href="#" shape="poly" coords="74,161,5,122,2,64,31,31,75,2,86,2,107,25,129,26,139,52,154,66,154,122")
                .pin
                .pin.disabled
                .obj__label Геопортальные решения
            a.obj.obj2(href="#")
                img(src="images/pract_.png" alt="" usemap="#obj2" class="obj__link")
                img(src="images/pract_active.png" alt="" usemap="#obj2" class="obj__link_active")
                map(name="obj2" id="obj2" class="js-obj")
                    area(href="#" shape="poly" coords="77,246,75,245,58,234,34,223,21,212,5,203,2,199,1,188,13,183,19,180,19,86,21,30,66,0,124,34,125,95,141,84,163,103,167,219,128,243")
                .pin
                .pin.disabled
            a.obj.obj3(href="#")
                img(src="images/build_.png" alt="" usemap="#obj3" class="obj__link")
                img(src="images/build_active.png" alt="" usemap="#obj3" class="obj__link_active")
                map(name="obj3" id="obj3" class="js-obj")
                    area(href="#" shape="poly" coords="77,246,75,245,58,234,34,223,21,212,5,203,2,199,1,188,13,183,19,180,19,86,21,30,66,0,124,34,125,95,141,84,163,103,167,219,128,243")
                .pin
                .pin.disabled
            a.obj.obj4(href="#")
                .pin
                .pin.disabled
            .obj.obj5(href="#")
                img(src="images/about_.png" alt="" usemap="#obj5" class="obj__link")
                img(src="images/about_active.png" alt="" usemap="#obj5" class="obj__link_active")
                map(name="obj5" id="obj5" class="js-obj")
                    area(href="about.html" shape="poly" coords="77,246,75,245,58,234,34,223,21,212,5,203,2,199,1,188,13,183,19,180,19,86,21,30,66,0,124,34,125,95,141,84,163,103,167,219,128,243")
                .pin
                .pin.disabled
            a.obj.obj6(href="#")
                .pin
                .pin.disabled
            a.obj.obj7(href="#")
                .pin
                .pin.disabled
        .header__w
            .header__bl1
                a.header__logo(href="/")
            .header__bl2
                .header__bl5
                    .menu.js-menu
                        .menu__close.js-close
                        .header__search-form
                            form.menu-search
                                input.menu-search__input(type="text" placeholder="ПОИСК ПО САЙТУ")
                                input.menu-search__submit(type="submit" value="")
                        .header__nav
                            nav
                                include ../blocks/_header-menu
                        .header__search
                            button.btn.btn-search
                        .header__feedback
                            button.btn.btn-wb(data-fancybox data-src="#connect-us" href="javascript:;") Оставить заявку
                .header__bl4
                    .header__contacts-l
                        a(href="tel: 88124244802") 8 (812) 424-48-02<br>
                        a(href="tel: 88005502999") 8 (800) 550-29-99
                    .header__contacts-r
                        a(href="mailto: gis@smatrms.org") gis@smatrms.org<br>
                        span 59° 58’ 25’’N 30° 20’ 01’’E
            .header__bl3
                .header__burger
                    .burger.js-burger
        .header-cnt
            .header-cnt__t
                .header-cnt__ttl.
                    Искали <span>лучших</span><br>
                    <span>ГИС специалистов</span>?<br>
                    Вы их нашли!
                .header-cnt__txt.
                    Создаем геоинформационные системы любого уровня сложности для различных отраслей.
            .header-cnt__button
                a.btn.link-btn.btn-white.arr-r-b(href="#") Подробнее о нас
    //end .container
    include ../blocks/_connect-us