header.header.header_blue.header_big
    .shape
    .container
        .shadow
            a.obj.obj1(href="#")
                .pin
                .obj__label Геопортальные решения
            a.obj.obj2(href="#")
                .pin
            a.obj.obj3(href="#")
                .pin
            a.obj.obj4(href="#")
                .pin
            a.obj.obj5(href="#")
                .pin
            a.obj.obj6(href="#")
                .pin
            a.obj.obj7(href="#")
                .pin
        .header__w
            .header__bl1
                a.header__logo(href="/")
            .header__bl2
                .header__bl5
                    .menu.js-menu
                        .menu__close.js-close
                        .header__search-form
                            form.menu-search
                                input.menu-search__input(type="text" placeholder="ПОИСК ПО САЙТУ")
                                input.menu-search__submit(type="submit" value="")
                        .header__nav
                            nav
                                include ../blocks/_header-menu
                        .header__search
                            button.btn.btn-search
                        .header__feedback
                            button.btn.btn-wb(data-fancybox data-src="#connect-us" href="javascript:;") Оставить заявку
                .header__bl4
                    .header__contacts-l
                        a(href="tel: 88124244802") 8 (812) 424-48-02<br>
                        a(href="tel: 88005502999") 8 (800) 550-29-99
                    .header__contacts-r
                        a(href="mailto: gis@smatrms.org") gis@smatrms.org<br>
                        span 59° 58’ 25’’N 30° 20’ 01’’E
            .header__bl3
                .header__burger
                    .burger.js-burger
        .header-cnt
            .header-cnt__t
                .header-cnt__ttl.
                    Искали <span>лучших</span><br>
                    <span>ГИС специалистов</span>?<br>
                    Вы их нашли!
                .header-cnt__txt.
                    Создаем геоинформационные системы любого уровня сложности для различных отраслей.
            .header-cnt__button
                a.btn.link-btn.btn-white.arr-r-b(href="#") Подробнее о нас
    //end .container
    include ../blocks/_connect-us