include ../mixins/_mixins

doctype html
html
    block sharedVars
    head
        block title
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="icon" type="image/png" href="images/favicon.png")
        //- <!--[if IE 8]>script(src='/ie.js')<![endif]-->
        include _head_style
        include _scripts
    body
        .wrapper
            .content
                if(activeMenu == 'Главная' )
                    include _header-index
                else if(activeMenu == 'О нас' || activeMenu == 'Результат поиска'|| activeMenu == 'ГИС')
                    include _header-white
                else if(activeMenu == 'Блог')
                    include _header-blue
                //end header

                block content
            //end content

            include _footer
            //end footer
        //end wrapper