.page-about{
  @media screen and (min-width: $w-desktop) {
    padding-bottom: 100px;
  }
  &__h{
    color: $blue-00;
    font-size: 25px;
    margin-bottom: 44px;
    position: relative;
    font-family: 'Raleway';
    font-weight: bold;
    padding-top: 22px;
    @media screen and (min-width: $w-tablet) {
      color: $white;
      @include bg-img(cover);
      height: 98px;
      line-height: 98px;
      padding-left: 68px;
      font-size: 30px;
      margin-bottom: 62px;
      padding-top: 0;
    }
    @media screen and (min-width: $w-desktop) {
      height: 103px;
      line-height: 103px;
      padding-left: 0;
      margin-bottom: 119px;
    }
    &:before{
      content: '';
      background-color: $white;
      position: absolute;
      right: 0;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
    &:before{
      @media screen and (min-width: $w-tablet) {
        background-color: $violet-65;
        opacity: 0.8;
      }
    }
    h1{
      position: relative;
      @media screen and (min-width: $w-desktop) {
        padding-left: 108px;
      }
    }
  }
}
.partners{
  @media screen and (min-width: $w-tablet) {
    padding: 0 68px;
  }
  @media screen and (min-width: $w-desktop) {
    padding: 0 108px;
  }
  &__item{
    margin-bottom: 67px;
    display: block;
    @media screen and (min-width: $w-tablet) {
      display: flex;
      align-items: flex-start;
    }
    @media screen and (min-width: $w-desktop) {
      margin-bottom: 114px;
    }
  }
  &__logo{
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
    width: 100%;
    height: 35px;
    margin-bottom: 15px;
    @media screen and (min-width: $w-desktop) {
      height: 40px;
      margin-bottom: 31px;
    }
  }
  &__name{
    font-size: 18px;
    line-height: 18px;
    font-family: 'Rubik-Black';
    color: $violet-65;
    text-transform: uppercase;
    @media screen and (min-width: $w-desktop) {
      font-size: 24px;
      line-height: 24px;
    }
  }
  &__link{
    display: block;
    margin-bottom: 23px;
    color: $blue-00;
    font-family: 'Lato-Semibold';
    font-size: 15px;
    line-height: 30px;
    text-decoration: underline;
    @media screen and (min-width: $w-desktop) {
      font-size: 16px;
      line-height: 30px;
    }
    &:hover{
      text-decoration: none;
    }
  }
  &__txt{
    color: $violet-95;
    font-size: 14px;
    line-height: 26px;
    font-family: 'Lato-Semibold';
    margin-bottom: 43px;
    @media screen and (min-width: $w-desktop) {
      font-size: 16px;
      line-height: 30px;
    }
  }
  &__r-cnt{
    display: flex;
  }
  &__r{
    background-color: $violet-f5;
    background-image: linear-gradient(to top, white 0%, transparent 100%);
    border: 1px solid rgba(255, 255, 255, 0.21);
    box-shadow: 0 6px 10px rgba(59, 59, 59, 0.1);
    border-radius: 0 10px 10px 10px;
    box-sizing: border-box;
    padding: 30px 30px 40px;
    position: relative;
    @media screen and (min-width: $w-tablet) {
      flex: 0 0 auto;
      width: 305px;
      margin-left: 20px;
      margin-top: 15px;
    }
    @media screen and (min-width: $w-desktop) {
      width: 500px;
      margin-top: 25px;
      padding: 43px 10px 40px;
    }
    &:before{
      content: '';
      background-image: url('images/folder-top.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left bottom;
      position: absolute;
      top: -15px;
      left: -5px;
      width: 100%;
      height: 15px;
      @media screen and (min-width: $w-desktop) {
        height: 30px;
        top: -30px;
        left: -10px;
      }
    }
  }
  &__pic{
    display: none;
    @media screen and (min-width: $w-desktop) {
      background-position: center top;
      background-repeat: no-repeat;
      display: block;
      width: 160px;
      height: 160px;
      flex: 0 0 auto;
      margin-right: 20px;
    }
  }
  &__proj{
    font-family: 'Rubik-Black';
    color: $violet-65;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 19px;
    @media screen and (min-width: $w-desktop) {
      font-size: 20px;
      line-height: 32px;
      padding-left: 15px;
      margin-bottom: 21px;
    }
  }
  &__li{
    background-image: url('images/li.png');
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 8px;
    padding-left: 15px;
    background-size: 8px 8px;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 13px;
    @media screen and (min-width: $w-desktop) {
      font-size: 16px;
      line-height: 24px;
    }
    a{
      font-family: 'Rubik';
      color: $blue-00;
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }
  }
}
.folder-top{
  background-image: url('images/folder-top.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -17px;
  left: 0;
  width: 160px;
  height: 18px;
}
.persons{
  @media screen and (min-width: $w-tablet) {
    padding: 0 68px;
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: $w-tablet) {
    padding: 0 108px;
  }
  &__item{
    margin-bottom: 55px;
    @media screen and (min-width: $w-tablet) {
      width: 46%;
      flex: 0 0 auto;
      margin-right: 4%;
      margin-bottom: 70px;
    }
    @media screen and (min-width: $w-desktop) {
      width: 510px;
      margin-right: 20px;
      margin-bottom: 85px;
    }
  }
  &__name{
    font-family: 'Rubik-Black';
    font-size: 16px;
    line-height: 24px;
    color: $violet-65;
    margin-bottom: 10px;
    text-transform: uppercase;
    display: block;
    @media screen and (min-width: $w-tablet) {
      margin-bottom: 7px;
    }
    @media screen and (min-width: $w-desktop) {
      font-size: 24px;
      line-height: 32px;
    }
  }
  &__name-fi{
   max-width: 200px;
  }
  &__post{
    font-family: 'Lato';
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: $violet-65;
    margin-bottom: 15px;
    text-transform: uppercase;
    @media screen and (min-width: $w-tablet) {
      margin-bottom: 9px;
    }
    @media screen and (min-width: $w-desktop) {
      font-size: 14px;
      line-height: 24px;
      height: 52px;
    }
  }
  &__link{
    display: none;
    @media screen and (min-width: $w-tablet) {
      display: inline-block;
      font-family: 'Lato';
      font-size: 16px;
      line-height: 30px;
      color: $blue-00;
      background-image: url('images/edu.png');
      background-repeat: no-repeat;
      background-position-y: center;
      background-size: 35px 20px;
      padding-left: 50px;
      margin-bottom: 15px;
    }
    @media screen and (min-width: $w-desktop) {
      font-size: 20px;
      line-height: 30px;
      background-size: 45px 26px;
      padding-left: 60px;
      margin-bottom: 32px;
    }
    span{
      @media screen and (min-width: $w-tablet) {
        border-bottom: 2px dotted $blue-00;
      }
      &:hover{
        @media screen and (min-width: $w-tablet) {
          border-bottom: none;
        }
      }
    }
  }
  &__h{
    @media screen and (min-width: $w-desktop) {
      display: flex;
    }
  }
  &__photo{
    width: 162px;
    height: 162px;
    display: block;
    @include bg-img(cover);
    margin-bottom: 15px;
    border-radius: 50%;
    background-color: $white;
    border: 1px solid rgba(255, 255, 255, 0.21);
    box-shadow: 0 6px 10px rgba(59, 59, 59, 0.1);
    @media screen and (min-width: $w-tablet) {
      width: 153px;
      height: 153px;
    }
    @media screen and (min-width: $w-desktop) {
      flex: 0 0 auto;
      width: 184px;
      height: 184px;
      margin-right: 35px;
      margin-top: 5px;
    }
  }
  &__b{
    color: $violet-95;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Lato-Semibold';
    @media screen and (min-width: $w-desktop) {
      font-size: 16px;
      line-height: 30px;
    }
  }
}