.page-about{
  @media screen and (min-width: $w-desktop) {
    padding-bottom: 100px;
  }
  &__h{
    color: $blue-00;
    font-size: 25px;
    margin-bottom: 44px;
    position: relative;
    font-family: 'Raleway';
    font-weight: bold;
    padding-top: 22px;
    @media screen and (min-width: $w-tablet) {
      color: $white;
      @include bg-img(cover);
      height: 98px;
      line-height: 98px;
      padding-left: 68px;
      font-size: 30px;
      margin-bottom: 62px;
      padding-top: 0;
    }
    @media screen and (min-width: $w-desktop) {
      height: 103px;
      line-height: 103px;
      padding-left: 0;
      margin-bottom: 119px;
    }
    &:before{
      content: '';
      background-color: $white;
      position: absolute;
      right: 0;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      @media screen and (min-width: $w-tablet) {
        background-color: $violet-65;
        opacity: 0.8;
      }
    }
    h1{
      position: relative;
      @media screen and (min-width: $w-desktop) {
        padding-left: 108px;
      }
    }
    &_pep{
      margin-bottom: 28px;
      @media screen and (min-width: $w-tablet) {
        margin-bottom: 44px;
      }
      @media screen and (min-width: $w-desktop) {
        margin-bottom: 55px;
      }
    }
  }
}
.partners{
  @media screen and (min-width: $w-tablet) {
    padding: 0 68px;
  }
  @media screen and (min-width: $w-desktop) {
    padding: 0 108px;
  }
  &__item{
    margin-bottom: 67px;
    display: block;
    @media screen and (min-width: $w-tablet) {
      display: flex;
      align-items: flex-start;
    }
    @media screen and (min-width: $w-desktop) {
      margin-bottom: 114px;
    }
  }
  &__logo{
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
    width: 100%;
    height: 35px;
    margin-bottom: 15px;
    @media screen and (min-width: $w-desktop) {
      height: 40px;
      margin-bottom: 31px;
    }
  }
  &__name{
    font-size: 18px;
    line-height: 18px;
    font-family: 'Rubik-Black';
    color: $violet-65;
    text-transform: uppercase;
    @media screen and (min-width: $w-desktop) {
      font-size: 24px;
      line-height: 24px;
    }
  }
  &__link{
    display: block;
    margin-bottom: 23px;
    color: $blue-00;
    font-family: 'Lato-Semibold';
    font-size: 15px;
    line-height: 30px;
    text-decoration: underline;
    @media screen and (min-width: $w-desktop) {
      font-size: 16px;
      line-height: 30px;
    }
    &:hover{
      text-decoration: none;
    }
  }
  &__txt{
    color: $violet-95;
    font-size: 14px;
    line-height: 26px;
    font-family: 'Lato-Semibold';
    margin-bottom: 43px;
    @media screen and (min-width: $w-desktop) {
      font-size: 16px;
      line-height: 30px;
    }
  }
  &__r-cnt{
    display: flex;
  }
  &__l{
    flex: 1 1 auto;
  }
  &__r{
    background-color: $violet-f5;
    background-image: linear-gradient(to top, white 0%, transparent 100%);
    border: 1px solid rgba(255, 255, 255, 0.21);
    box-shadow: 0 6px 10px rgba(59, 59, 59, 0.1);
    border-radius: 0 10px 10px 10px;
    box-sizing: border-box;
    padding: 30px 30px 40px;
    position: relative;
    @media screen and (min-width: $w-tablet) {
      flex: 0 0 auto;
      width: 305px;
      margin-left: 20px;
      margin-top: 15px;
    }
    @media screen and (min-width: $w-desktop) {
      width: 500px;
      margin-top: 25px;
      padding: 43px 10px 40px;
    }
    &:before{
      content: '';
      background-image: url('images/folder-top.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left bottom;
      position: absolute;
      top: -15px;
      left: -5px;
      width: 100%;
      height: 15px;
      @media screen and (min-width: $w-desktop) {
        height: 30px;
        top: -30px;
        left: -10px;
      }
    }
  }
  &__pic{
    display: none;
    @media screen and (min-width: $w-desktop) {
      background-position: center top;
      background-repeat: no-repeat;
      display: block;
      width: 160px;
      height: 160px;
      flex: 0 0 auto;
      margin-right: 20px;
    }
  }
  &__proj{
    font-family: 'Rubik-Black';
    color: $violet-65;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 19px;
    @media screen and (min-width: $w-desktop) {
      font-size: 20px;
      line-height: 32px;
      padding-left: 15px;
      margin-bottom: 21px;
    }
  }
  &__li{
    background-image: url('images/li.png');
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 8px;
    padding-left: 15px;
    background-size: 8px 8px;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 13px;
    @media screen and (min-width: $w-desktop) {
      font-size: 16px;
      line-height: 24px;
    }
    a{
      font-family: 'Rubik';
      color: $blue-00;
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }
  }
}
.folder-top{
  background-image: url('images/folder-top.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -17px;
  left: 0;
  width: 160px;
  height: 18px;
}
.persons{
  @media screen and (min-width: $w-tablet) {
    padding: 0 68px;
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: $w-tablet) {
    padding: 0 108px;
  }
  &__item{
    margin-bottom: 55px;
    @media screen and (min-width: $w-tablet) {
      width: 46%;
      flex: 0 0 auto;
      margin-right: 4%;
      margin-bottom: 70px;
    }
    @media screen and (min-width: $w-desktop) {
      width: 510px;
      margin-right: 20px;
      margin-bottom: 85px;
    }
  }
  &__name{
    font-family: 'Rubik-Black';
    font-size: 16px;
    line-height: 24px;
    color: $violet-65;
    margin-bottom: 10px;
    text-transform: uppercase;
    display: block;
    @media screen and (min-width: $w-tablet) {
      margin-bottom: 7px;
    }
    @media screen and (min-width: $w-desktop) {
      font-size: 24px;
      line-height: 32px;
    }
  }
  &__name-fi{
   max-width: 200px;
  }
  &__post{
    font-family: 'Lato';
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: $violet-65;
    margin-bottom: 15px;
    text-transform: uppercase;
    @media screen and (min-width: $w-tablet) {
      margin-bottom: 9px;
    }
    @media screen and (min-width: $w-desktop) {
      font-size: 14px;
      line-height: 24px;
      height: 52px;
    }
  }
  &__link{
    display: none;
    @media screen and (min-width: $w-tablet) {
      display: inline-block;
      font-family: 'Lato';
      font-size: 16px;
      line-height: 30px;
      color: $blue-00;
      background-image: url('images/edu.png');
      background-repeat: no-repeat;
      background-position-y: center;
      background-size: 35px 20px;
      padding-left: 50px;
      margin-bottom: 15px;
    }
    @media screen and (min-width: $w-desktop) {
      font-size: 20px;
      line-height: 30px;
      background-size: 45px 26px;
      padding-left: 60px;
      margin-bottom: 32px;
    }
    &:focus{
      @media screen and (min-width: $w-tablet) {
        outline: none;
      }
    }
    span{
      @media screen and (min-width: $w-tablet) {
        border-bottom: 2px dotted $blue-00;
      }
      &:hover{
        @media screen and (min-width: $w-tablet) {
          border-bottom: none;
        }
      }
    }
  }
  &__h{
    @media screen and (min-width: $w-desktop) {
      display: flex;
    }
  }
  &__photo{
    width: 162px;
    height: 162px;
    display: block;
    @include bg-img(cover);
    margin-bottom: 15px;
    border-radius: 50%;
    background-color: $white;
    border: 1px solid rgba(255, 255, 255, 0.21);
    box-shadow: 0 6px 10px rgba(59, 59, 59, 0.1);
    @media screen and (min-width: $w-tablet) {
      width: 153px;
      height: 153px;
    }
    @media screen and (min-width: $w-desktop) {
      flex: 0 0 auto;
      width: 184px;
      height: 184px;
      margin-right: 35px;
      margin-top: 5px;
    }
  }
  &__b{
    color: $violet-95;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Lato-Semibold';
    @media screen and (min-width: $w-desktop) {
      font-size: 16px;
      line-height: 30px;
    }
  }
}
.page-about-us{
  &__bl2{
    padding-top: 38px;
    padding-bottom: 18px;
    @media screen and (min-width: $w-tablet) {
      background-color: $gray-fd;
      padding-top: 49px;
      padding-bottom: 36px;
      overflow: hidden;
    }
    @media screen and (min-width: $w-desktop) {
      padding-top: 75px;
      padding-bottom: 30px;
    }
  }
  &__bl3{
    padding-bottom: 49px;
    @media screen and (min-width: $w-tablet) {
      padding-bottom: 80px;
      padding-top: 42px;
    }
    @media screen and (min-width: $w-desktop) {
      background-color: $gray-fd;
      background-image: url('images/partners-bg.png');
      background-repeat: no-repeat;
      background-size: 1028px 114px;
      background-position: center 80px;
      padding-bottom: 132px;
    }
  }
  &__bl5{
    padding-top: 35px;
    padding-bottom: 73px;
    @media screen and (min-width: $w-tablet) {
      padding-bottom: 108px;
      padding-top: 53px;
    }
    @media screen and (min-width: $w-desktop) {
      background-image: url('images/people-bg.png');
      background-repeat: no-repeat;
      background-size: 863px 201px;
      background-position: center 180px;
      padding-top: 91px;
      padding-bottom: 135px;
    }
  }
}
.contact-info{
  @media screen and (min-width: $w-tablet) {
    display: flex;
  }
  &__l{
    padding: 0 20px;
    @media screen and (min-width: $w-tablet) {
      width: 50%;
      flex: 0 0 auto;
      padding: 0 0 0 68px;
      box-sizing: border-box;
    }
  }
  &__lw{
    @media screen and (min-width: $w-desktop) {
      width: 520px;
      float: right;
    }
  }
  &__r{
    background-color: #CCC;
    @media screen and (min-width: $w-tablet) {
      width: 50%;
      flex: 0 0 auto;
    }
  }
  &__ttl{
    font-family: 'Rubik';
    font-weight: bold;
    font-size: 17px;
    line-height: 25px;
    text-transform: uppercase;
    margin-bottom: 16px;
    color: $violet-65;
    @media screen and (min-width: $w-tablet) {
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 28px;
      margin-top: 42px;
    }
    @media screen and (min-width: $w-desktop) {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 46px;
      margin-top: 66px;
    }
  }
  &__label{
    color: $gray-79;
    font-family: 'Rubik';
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    opacity: 0.5;
    @media screen and (min-width: $w-tablet) {
      line-height: 22px;
    }
  }
  &__office{
    font-family: 'Lato';
    font-size: 14px;
    line-height: 21px;
    color: $gray-79;
    margin-bottom: 20px;
    @media screen and (min-width: $w-tablet) {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 32px;
      max-width: 196px;
    }
    @media screen and (min-width: $w-desktop) {
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 17px;
      max-width: none;
    }
  }
  &__office-cnt{
    display: flex;
    justify-content: space-between;
    @media screen and (min-width: $w-tablet) {
      display: block;
    }
    @media screen and (min-width: $w-desktop) {
      display: flex;
      justify-content: flex-start;
    }
  }
  &__office-addr{
    flex: 0 0 auto;
    width: 49%;
    @media screen and (min-width: $w-tablet) {
      margin-bottom: 17px;
      width: auto;
    }
    @media screen and (min-width: $w-desktop) {
      width: 215px;
      flex: 0 0 auto;
      margin-right: 35px;
      margin-bottom: 0;
    }
  }
  &__office-tel{
    flex: 0 0 auto;
    width: 49%;
    @media screen and (min-width: $w-tablet) {
      width: auto;
      margin-bottom: 35px;
    }
    a{
      color: $blue-00;
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }
  }
  &__time{
    font-family: 'Lato';
    font-size: 14px;
    line-height: 21px;
    color: $gray-79;
    margin-bottom: 20px;
    @media screen and (min-width: $w-tablet) {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 40px;
    }
    @media screen and (min-width: $w-desktop) {
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 50px;
    }
  }
  &__btn{
    margin-bottom: 42px;
    @media screen and (min-width: $w-tablet) {
      margin-bottom: 0;
    }
  }
}
#map{
  height: 239px;
  width: 100%;
  overflow: hidden;
  @media screen and (min-width: $w-tablet) {
    height: 532px;
  }
  @media screen and (min-width: $w-desktop) {
    height: 590px;
  }
}
.directions{
  @media screen and (min-width: $w-tablet) {
    padding: 0 68px;
    position: relative;
  }
  @media screen and (min-width: $w-desktop) {
    display: flex;
    padding: 0;
  }
  &__sbig{
    display: none;
    @media screen and (min-width: $w-tablet) {
      display: block;
      position: absolute;
      width: 164px;
      height: 164px;
      bottom: -69px;
      left: -22px;
      background-image: url('images/circle-bg-big.png');
      background-size: 164px;
    }
    @media screen and (min-width: $w-desktop) {
      bottom: -3px;
      left: -6px;
      width: 218px;
      height: 218px;
      background-size: 218px;
    }
  }
  &__ssm{
    display: none;
    @media screen and (min-width: $w-tablet) {
      display: block;
      position: absolute;
      width: 70px;
      height: 70px;
      top: 20px;
      right: 10px;
      background-image: url('images/circle-bg-small.png');
      background-size: 70px;
    }
    @media screen and (min-width: $w-desktop) {
      width: 116px;
      height: 116px;
      background-size: 116px;
      left: 450px;
      top: 20px;
      right: auto;
      bottom: auto;
    }
  }
  &__l{
    display: none;
    @media screen and (min-width: $w-desktop) {
      display: block;
      width: 610px;
      flex: 0 0 auto;
    }
  }
  &__img{
    @media screen and (min-width: $w-desktop) {
      display: block;
      width: 412px;
      height: 426px;
      @include bg-img(cover);
      margin: 0 auto;
      position: relative;
    }
  }
  &__ttl{
    font-family: 'Rubik';
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    color: $violet-65;
    text-transform: uppercase;
    margin-bottom: 12px;
    @media screen and (min-width: $w-tablet) {
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 18px;
    }
    @media screen and (min-width: $w-desktop) {
      font-size: 30px;
      line-height: 40px;
      padding-left: 35px;
      margin-bottom: 46px;
    }
  }
  &__list{
    color: $violet-95;
    font-size: 15px;
    line-height: 25px;
    @media screen and (min-width: $w-tablet) {
      display: flex;
      font-size: 14px;
      line-height: 26px;
    }
    @media screen and (min-width: $w-desktop) {
      font-size: 16px;
      line-height: 30px;
    }
    ul{
      @media screen and (min-width: $w-tablet) {
        flex: 0 0 auto;
        width: 45%;
        margin-right: 5%;
        padding-left: 5px;
        box-sizing: border-box;
      }
    }
    li{
      margin-bottom: 25px;
      font-family: 'Lato-Semibold';
      background-image: url(images/li.png);
      background-repeat: no-repeat;
      background-position-x: 0;
      background-position-y: 8px;
      padding-left: 30px;
      background-size: 8px 8px;
      @media screen and (min-width: $w-desktop) {
        margin-bottom: 30px;
        background-position-y: 10px;
      }
    }
  }
}
.paretners-sl{
  @media screen and (min-width: $w-tablet) {
    padding: 0 68px;
  }
  @media screen and (min-width: $w-desktop) {
    padding: 0;
  }
  &__ttl{
    font-family: 'Rubik';
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    color: $violet-65;
    text-transform: uppercase;
    margin-bottom: 22px;
    @media screen and (min-width: $w-tablet) {
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 36px;
    }
    @media screen and (min-width: $w-desktop) {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 100px;
      text-align: center;
    }
  }
  &__slider{
    position: relative;
    @media screen and (min-width: $w-desktop) {
      margin-bottom: 36px;
    }
  }
  &__item{
    display: block;
    @media screen and (min-width: $w-tablet) {
      display: inline-block;
      width: 49%;
      box-sizing: border-box;
      padding-right: 20px;
      vertical-align: top;
    }
  }
  &__logo{
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
    width: 100%;
    height: 35px;
    margin-bottom: 13px;
    @media screen and (min-width: $w-desktop) {
      height: 40px;
      margin-bottom: 26px;
    }
  }
  &__name{
    font-family: 'Rubik-Black';
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    color: $violet-65;
    text-transform: uppercase;
    @media screen and (min-width: $w-tablet) {
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 0;
    }
    @media screen and (min-width: $w-desktop) {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 0;
    }
  }
  &__link{
    display: block;
    margin-bottom: 12px;
    color: $blue-00;
    font-family: 'Lato-Semibold';
    font-size: 15px;
    line-height: 30px;
    text-decoration: underline;
    @media screen and (min-width: $w-tablet) {
      font-size: 14px;
    }
    @media screen and (min-width: $w-desktop) {
      font-size: 16px;
      margin-bottom: 23px;
    }
    &:hover{
      text-decoration: none;
    }
  }
  &__txt{
    color: $violet-95;
    font-size: 14px;
    line-height: 26px;
    font-family: 'Lato-Semibold';
    margin-bottom: 43px;
    @media screen and (min-width: $w-desktop) {
      font-size: 16px;
      line-height: 30px;
    }
  }
  &__more{
    @media screen and (min-width: $w-tablet) {
      text-align: center;
    }
    @media screen and (min-width: $w-desktop) {
    }
  }
}
.paretners-slider{
  overflow: hidden;
  @media screen and (min-width: $w-desktop) {
    width: 1100px;
    margin: 0 auto;
  }
}
.paretners-slider-next,
.paretners-slider-prev{
  display: none;
  width: 40px;
  height: 40px;
  background-image: url('images/slider-arrow.png');
  background-size: unset;
  cursor: pointer;
  position: absolute;
  top: 40%;
  transition: .5s;
  @media screen and (min-width: $w-desktop) {
    display: block;
  }
  &:hover{
    opacity: 0.6;
  }
}
.paretners-slider-next{
  background-position: -40px 0;
  right: 0;
}
.paretners-slider-prev{
  background-position: 0 0;
  left: 0;
}
.sertificates{
  @include bg-img(cover);
  position: relative;
  padding-top: 30px;
  padding-bottom: 37px;
  @media screen and (min-width: $w-tablet) {
    padding-top: 43px;
    padding-bottom: 49px;
  }
  @media screen and (min-width: $w-desktop) {
    padding-top: 95px;
    padding-bottom: 134px;
  }
  &:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: $blue-00;
    opacity: 0.8;
    display: block;
  }
  &__ttl{
    color: $white;
    font-family: 'Rubik';
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 23px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    @media screen and (min-width: $w-tablet) {
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 40px;
    }
    @media screen and (min-width: $w-desktop) {
      font-size: 30px;
      margin-bottom: 64px;
    }
  }
  &__item{
    @include bg-img(cover);
    width: 84px;
    height: 119px;
    border: 3px solid $white;
    box-shadow: 0 7px 10px rgba(19, 28, 37, 0.29), inset 0 0 16px rgba(60, 61, 62, 0.56);
    box-sizing: border-box;
    margin: 0 auto;
    display: block;
    @media screen and (min-width: $w-tablet) {
      width: 176px;
      height: 248px;
    }
    @media screen and (min-width: $w-desktop) {
      width: 196px;
      height: 277px;
    }
  }
  .container{
    position: relative;
  }
}
.sertificates-slider{
  margin: 0 50px;
  overflow: hidden;
  @media screen and (min-width: $w-tablet) {
    margin: 0 86px;
  }
  @media screen and (min-width: $w-desktop) {

  }
}
.sertificates-slider-next,
.sertificates-slider-prev{
  width: 40px;
  height: 40px;
  background-image: url('images/slider-arrow.png');
  background-size: unset;
  cursor: pointer;
  position: absolute;
  top: 60%;
  transition: .5s;
  &:hover{
    opacity: 0.6;
  }
}
.sertificates-slider-next{
  background-position: -40px -40px;

  @media screen and (min-width: $w-tablet) {
    right: 20px;
  }
  @media screen and (min-width: $w-desktop) {
    right: 0;
  }
}
.sertificates-slider-prev{
  background-position: 0 -40px;

  @media screen and (min-width: $w-tablet) {
    left: 20px;
  }
  @media screen and (min-width: $w-desktop) {
    left: 0;
  }
}

.people-prev{
  &__ttl{
    font-family: 'Rubik';
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    color: $violet-65;
    text-transform: uppercase;
    margin-bottom: 34px;
    @media screen and (min-width: $w-tablet) {
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 36px;
      text-align: center;
    }
    @media screen and (min-width: $w-desktop) {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 87px;
    }
  }
  &__list{
    @media screen and (min-width: $w-tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      margin-bottom: 33px;
    }
    @media screen and (min-width: $w-desktop) {
      flex-wrap: nowrap;
      justify-content: space-around;
      margin-bottom: 80px;
    }
  }
  &__item{
    margin-bottom: 50px;
    @media screen and (min-width: $w-tablet) {
      width: 40%;
      margin-bottom: 23px;
    }
    @media screen and (min-width: $w-desktop) {
      max-width: 300px;
      margin-bottom: 0;
    }
    &:nth-child(n+3){
      display: none;
      @media screen and (min-width: $w-tablet) {
        display: block;
      }
    }
  }
  &__photo{
    width: 162px;
    height: 162px;
    display: block;
    @include bg-img(cover);
    margin-bottom: 15px;
    border-radius: 50%;
    background-color: $white;
    border: 1px solid rgba(255, 255, 255, 0.21);
    box-shadow: 0 6px 10px rgba(59, 59, 59, 0.1);
    @media screen and (min-width: $w-tablet) {
      width: 153px;
      height: 153px;
      margin: 0 auto 14px;
    }
    @media screen and (min-width: $w-desktop) {
      flex: 0 0 auto;
      width: 184px;
      height: 184px;
      margin: 0 auto 18px;
    }
  }
  &__name{
    font-family: 'Rubik-Black';
    font-size: 16px;
    line-height: 24px;
    color: $violet-65;
    margin-bottom: 10px;
    text-transform: uppercase;
    display: block;
    @media screen and (min-width: $w-tablet) {
      margin-bottom: 7px;
    }
    @media screen and (min-width: $w-desktop) {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 15px;
    }
  }
  &__name-f{
    display: inline-block;
    @media screen and (min-width: $w-desktop) {
      display: block;
    }
  }
  &__name-i{
    display: inline-block;
    @media screen and (min-width: $w-desktop) {
      display: block;
    }
  }
  &__post{
    font-family: 'Lato';
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: $violet-65;
    margin-bottom: 15px;
    text-transform: uppercase;
    @media screen and (min-width: $w-tablet) {
      margin-bottom: 9px;
    }
    @media screen and (min-width: $w-desktop) {
      font-size: 12px;
      line-height: 18px;
    }
  }
  &__more{
    @media screen and (min-width: $w-tablet) {
      text-align: center;
    }
  }
  &__b{
    display: block;
    color: $violet-95;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Lato-Semibold';
    @media screen and (min-width: $w-tablet) {
      display: none;
    }
  }
}
.sertificates-detail{
  max-width: 320px;
  padding: 0;
  @media screen and (min-width: $w-desktop) {
    max-width: 846px;
  }
  &__w{
    @media screen and (min-width: $w-desktop) {
      display: flex;
    }
  }
  &__l{
    display: none;
    @media screen and (min-width: $w-desktop) {
      display: block;
      width: 520px;
      flex: 0 0 auto;
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }
  &__r{
    background-color: rgba(101,54,152,0.95);
    color: $white;
    font-family: 'Lato';
    font-size: 11px;
    line-height: 16px;
    padding: 80px 20px 70px;
    @media screen and (min-width: $w-desktop) {
      background-color: $violet-fb;
      color: $violet-95;
      font-size: 14px;
      line-height: 24px;
      padding: 55px 34px 10px;
    }
  }
  &__img{
    width: 440px;
    height: 640px;
    @include bg-img(cover);
    margin: 0 auto;
  }
  &__txt{
    p{
      margin-bottom: 20px;
      @media screen and (min-width: $w-desktop) {
        margin-bottom: 30px;
      }
    }
  }
  .fancybox-close-small{
    @media screen and (max-width: 1279px) {
      top: auto;
      bottom: 20px;
      right: auto;
      left: 20px;
      width: 130px;
      height: 33px;
      border: 1px solid $white;
      border-radius: 36px;
    }
    &:after{
      @media screen and (max-width: 1279px) {
        content: 'Закрыть';
        color: $white;
        font-size: 12px;
        line-height: 33px;
        font-family: 'Rubik-Medium';
        text-transform: uppercase;
        top: auto;
        right: auto;
        position: relative;
      }
    }
  }
}