extends core/_template

append sharedVars
    - var activeMenu = 'ГИС';
    - var curPage = 'Документы в 2 клика';

block title
    title Геопортальные решения

block content
    .workarea
        .page
            .violet-head(style="background-image:url('https://picsum.photos/1000/500/?image=972')")
                .violet-head__l
                    .violet-head__lbl
                        .violet-head__ttl=curPage
                        .violet-head__cat Корпоративная ГИС
                .violet-head__r
                    .violet-head__img(style="background-image:url('https://picsum.photos/1000?image=788')")
                    a.btn.link-btn.btn-violet.violet-head__back(href="gis.html") Вернуться назад
            .gis-detail
                .container
                    .gis-detail-prev
                        .gis-detail-prev__l
                            .gis-detail-prev__strong.
                                Системы электронного документооборота
                                (СЭД) популярны в компаниях.
                                Это удобно — документы в едином,
                                но разграниченном по правам, доступе.

                            div.
                                Мы сделаем так, что доступ к файлам СЭД по объекту станет доступным в пару кликов напрямую из <a href="#">геопортала</a>.
                        .gis-detail-prev__r.show-m.
                            Выберите объект на карте и в отдельной вкладке отобразится перечень найденных файлов СЭД. Информация сгруппирована по контрагентам, доступны фильтры по типам документов. При выборе группы в нижней части карты появится список документов с краткой информацией о каждом.  При нажатии по заголовку или регистрационному номеру отдельного документа происходит переход СЭД. Права доступа при этом сохраняются.
                .container
                    .gis-detail-ttl Пример реализации
                .gis-detail-video
                    .container
                        .gis-detail-video__cnt
                            .gis-detail-video__video
                                img(src="images/video.png")
                            .gis-detail-video__text.
                                Система автоматизации документооборота обеспечивает вас всем необходимым
                                для создания и управления важнейшим информационным ресурсом — хранилищем электронных документов предприятия.
                .container
                    .gis-detail-txt
                        h3 Документы — ключевой носитель информации в любой современной компании
                        p С ростом объемов корпоративного контента растут и требования к обеспечению документооборота: созданию, хранению, доступности и поддержанию его в актуальном состоянии.
                        p Решение позволяет:
                        ul
                            li полностью закрыть задачи электронного документооборота от занесения документов в систему до организации долговременного хранения, архивирования и своевременной доставки
                            li обеспечить безопасность и конфиденциальность информации через разграничение прав доступа, использование шифрования и электронной подписи и ведение подробной истории работы пользователей
                            li поддержать работу с версиями и стадиями жизненного цикла документов
                            li упростить поиск необходимой информации по реквизитам, содержанию и контексту.
                        .hide-xs
                            blockquote
                                span Система позволяет организовать упорядоченное хранение документов, разместив ссылки на документы по папкам.
                            h3 Создание электронного документа
                            p Каждый электронный документ системы состоит из содержимого (текст, графика, аудио или видео) и реквизитов — карточки с набором атрибутов, описывающих его (автор, тип, дата создания, корреспондент и т.д.). Реквизиты используются для поиска и группировки информации, а также формирования наименований документов в соответствии с принятыми правилами.
                .container
                    .gis-detail-feed
                        .gis-detail-feed__ttl.
                            Заинтересовал проект?<br>
                            Сделаем такой же для вас!
                        button.btn.btn-blue.gis-detail-feed__btn(data-fancybox data-src="#connect-us" href="javascript:;") Оставить заявку
        //end .page

    //end workarea