extends core/_template

append sharedVars
    - var activeMenu = 'ГИС';
    - var curPage = 'Документы в 2 клика';

block title
    title Геопортальные решения

block content
    .workarea
        .page

        //end .page

    //end workarea