extends core/_template

append sharedVars
    - var activeMenu = 'ГИС';

block title
    title=activeMenu

block content
    .workarea
        .page.page-index
            .index-bl1
                .container
                    .index-prev
                        .index-prev__item
                            .index-prev__content
                                .index-prev__ttl Разработаем геопортал или предложим уже готовое решение, которое используем сами
                                .index-prev__txt.
                                    Разместим объекты вашего интереса на карту, добавим инструменты аналитики, объединим информационные системы вашей компании — и весь массив ваших данных станет понятным, наглядным и простым в использовании. Внимательно выслушаем, вдумчиво проанализируем услышанное и предложим готовые варианты или совершенно новые идеи.
                                .index-prev__btn
                                    a.btn.link-btn.btn-violet.arr-r(href="#") Узнать подробнее
                            .index-prev__img(style="background-image: url('images/building.png')")
                        //end .index-prev__item
                        .index-prev__item
                            .index-prev__content
                                .index-prev__ttl Уже работаете с ГИС?
                                .index-prev__txt.
                                    Сэкономим ваше время — разработаем инструменты автоматизации, наполним и будем бережно заботиться о ваших базах данных. Поможем состыковать данные разных ГИС и CAD форматов. Разберемся с системами координат. Упростим задачу сбора и обработки данных при работе «в поле». Составим карты и схемы, которые будут  наглядно представлять всю необходимую информацию.
                                .index-prev__btn
                                    a.btn.link-btn.btn-violet.arr-r(href="#") Узнать подробнее
                            .index-prev__img(style="background-image: url('images/globe1.png')")
                        //end .index-prev__item
                    //end .index-prev
            //end .index-bl1
            .index-bl2
                .index-serv
                    .container
                        .index-serv__cnt
                            .index-serv__item
                                .index-serv__icon(style="background-image: url('images/icon1.png')")
                                .index-serv__ttl Геомаркетинг
                                .index-serv__txt.
                                    Пространственный анализ и статистика — расчет зон транспортной и пешей доступности, поиск оптимальных маршрутов. Учет расположения конкурентов, поставщиков, потребителей. Простые визуальные ответы на сложные вопросы.
                                .index-serv__button
                                    a.btn.link-btn.btn-b-violet.arr-r-v(href="#") Узнать подробнее
                            .index-serv__item
                                .index-serv__icon(style="background-image: url('images/icon2.png')")
                                .index-serv__ttl Хотите WOW-эффект?
                                .index-serv__txt.
                                    Добавим глубины вашим проектам: переведем готовые проекты в 3D
                                    или разработаем с нуля.<br>
                                    Напечатаем макет, сделаем видео или погрузим в виртуальную реальность.
                                .index-serv__button
                                    a.btn.link-btn.btn-b-violet.arr-r-v(href="#") Узнать подробнее
                            .index-serv__item
                                .index-serv__icon(style="background-image: url('images/icon3.png')")
                                .index-serv__ttl Путешественник, блогер, фотограф?
                                .index-serv__txt.
                                    Все ваши поездки и заметки на карте мира. Добавляйте фотографии, видео, пишите текст и дополняйте ссылками на ваш сайт или блог. Создадим ГИС-проект (такой же шикарный как вы) или поделимся секретом, как сделать его самостоятельно.
                                .index-serv__button
                                    a.btn.link-btn.btn-b-violet.arr-r-v(href="#") Узнать подробнее
                        //end .index-serv__cnt
                //end .index-serv
            .index-bl3
                .last-news
                    .container
                        .last-news__h Последние новости
                        .last-news__list
                            .last-news__item
                                a.last-news__img(href="#" style="background-image: url('https://picsum.photos/500/500?image=1061')")
                                .last-news__body
                                    .last-news__date
                                        .last-news__date-d 16
                                        .last-news__date-m окт
                                    .last-news__cnt
                                        a.last-news__ttl(href="#") Всемирная конференция пользователей Esri
                                        .last-news__txt.
                                            12 июля на ежегодной Всемирной Конференции пользователей Esri в Сан-Диего РОСИНЖИНИРИНГ был награжден премией за особые достижения в сфере геоинформационных систем (SAG).
                                        .last-news__link
                                            a.last-news__more-blue(href="#")
                                                span Читать полностью
                            //end .last-news__item
                            .last-news__item
                                a.last-news__img(href="#" style="background-image: url('https://picsum.photos/500/500?image=1059')")
                                .last-news__body
                                    .last-news__date
                                        .last-news__date-d 22
                                        .last-news__date-m сен
                                    .last-news__cnt
                                        a.last-news__ttl(href="#") «РОСИНЖИНИРИНГ» принимает участие в конференции в пятый раз
                                        .last-news__txt.
                                            Конференция Esri является крупнейшим событием в области геоинформационных технологий в России и странах СНГ и ежегодно собирает руководителей, ГИС-специалистов, отраслевых экспертов, IT-менеджеров, финансистов, маркетологов, инженеров из десятков организаций.
                                        .last-news__link
                                            a.last-news__more-blue(href="#")
                                                span Читать полностью
                            //end .last-news__item
                            .last-news__item
                                a.last-news__img(href="#" style="background-image: url('https://picsum.photos/500/500?image=1063')")
                                .last-news__body
                                    .last-news__date
                                        .last-news__date-d 13
                                        .last-news__date-m авг
                                    .last-news__cnt
                                        a.last-news__ttl(href="#") Всемирная конференция пользователей Esri
                                        .last-news__txt.
                                            В частности, обсуждалась организация совместной работы структурных отделов компаний с помощью геопортала и возможности геопортала при реализации проектов территориального планирования на уровне взаимодействия с заказчиком.
                                        .last-news__link
                                            a.last-news__more-blue(href="#")
                                                span Читать полностью
                            //end .last-news__item
                        //end .last-news__list
                //end .last-news
        //end .page

    //end workarea